
target/*
.idea/*
*.iml
*.class
*.jar
/target/
.classpath
.project
.settings/
flatpak/flatpak-commands.txt
muon-app/target/*
muon-jediterm/target/*
/muon-app/target/
/muon-jediterm/target/
muon-app/target/maven-archiver/pom.properties
*.snap
.vscode/*
/.iac-data/
/.vscode/
/.idea/
muon-jediterm/
